<%= stylesheet_link_tag 'invites' %>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
	<div class="main">
	<div class="invite container">
		<center>
			<h1> New Invite </h1>
		</center>

		<%= render 'form' %>

		<%= link_to 'Back', users_path,{:class => :btn } %>
	</div>
</div>

	<div class="sidenav">
		<h3 style="color: red;">Messages</h3>
		<% @users.each do |user| %>
		<a <%= link_to user.name, conversations_path(sender_id: current_user.id, recipient_id: user.id), method: 'post'%></a>
		 <br>
		<% end %>

	</div>
