<!DOCTYPE html>
<html>
<head>
</head>
<body>
	<h1><%= @user.name %> has invited you to join <%=@organization.name %> organization. Click on the following link to set your password</h1>
	<p>
		 <%= link_to "Sign Up", new_user_registration_url %>
	</p>

</body>
</html>