<h4>Comments</h4>
 <p>
  <h5><%= comment.message %></h5>
</p>

 <p>
<p>
  <%= link_to 'Destroy Comment', [comment.post, comment],
               method: :delete,
               data: { confirm: 'Are you sure?' } %>
</p>