<%= stylesheet_link_tag 'posts' %>
	<div class="main">
		<%= link_to 'Back', posts_path ,{:class => :btn } %>
		
		<h1 class="post"> New Post </h1>
		
		<div class="post">


			<%= render 'form' %>

			
		</div>
	</div>

	<div class="sidenav">
		<h3 style="color: red;">Messages</h3>
		<% @users.each do |user| %>
		<a <%= link_to user.name, conversations_path(sender_id: current_user.id, recipient_id: user.id), method: 'post'%></a>
		 <br>
		<% end %>

	</div>
