<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<style>
	* {box-sizing: border-box;}

	.post { 
		
		font-family: Arial, Helvetica, sans-serif;
		margin-left: 250px;
	}
	.btn
	{
		background-color: darkslategrey;
	}
</style>

</head>
<body>
	<div class="main">
		
		<h1 class="post"> New Post </h1>
		
		<div class="post">


			<%= render 'form' %>

			<%= link_to 'Back', posts_path ,{:class => :btn , :style => {:background => :dark}} %>
		</div>
	</div>

	<div class="sidenav">
		<h3 style="color: red;">Messages</h3>
		<% @users.each do |user| %>
		<a <%= link_to user.name, conversations_path(sender_id: current_user.id, recipient_id: user.id), method: 'post'%></a>
		 <br>
		<% end %>

	</div>

</body>
</html>