
 <!DOCTYPE html>
 <html>
 <head>
 	<style type="text/css">
 	.sidenav {

 		height: 100%;
 		width: 160px;
 		position: fixed;
 		z-index: 1;
 		top: 0;
 		left: 0;
 		background-color: #111;
 		overflow-x: hidden;
 		padding-top: 20px;
 	}

 	.sidenav a {
 		padding: 6px 8px 6px 16px;
 		text-decoration: none;
 		font-size: 25px;
 		color: #818181;
 		display: block;
 	}

 	.sidenav a:hover {
 		color: #f1f1f1;
 	}


 	@media screen and (max-height: 450px) {
 		.sidenav {padding-top: 15px;}
 		.sidenav a {font-size: 18px;}
 	</style>


 </head>
 <body>

 	<div class="sidenav">
 		<a <%= link_to 'Messages', conversations_path(sender_id: current_user.id, recipient_id: @user.id), method: 'post'%></a>
 		<a href="#services">Services</a>
 		<a href="#clients">Clients</a>
 		<a href="#contact">Contact</a>
 	</div>
 </body>
 </html>